---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---



- Lecture (UNSW) Coding and Information Theory 2018-2020 <br>
- Tutorial (UNSW) Digital Modulation & Coding 2019-2020 <br> 
- Tutorial (UNSW) Electrical Circuit Fundamentals 2021 <br>
- Lab Demonstration (UNSW) Analog and Digital Communications S2 2015 <br>
- Lab Demonstration (UNSW) Digital Modulation & Coding S1 2016 − 2021∗ <br>


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
